.buttondown{
  -fx-graphic: url('../images/icons/teethDown.png');
}

.buttonup{
  -fx-graphic: url('../images/icons/teethUp.png');
}

.incisordown{
  -fx-graphic: url('../images/icons/insisorDown.png');
}

.incisorup{
  -fx-graphic: url('../images/icons/insisorUp.png');
}